{% extends 'base.html' %}
{% load static %}

{% block title  %}
    <title> Welcome to - Get More Done App !</title>
{% endblock title  %}

{% block content  %}
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-4">
          <img  src="{% static 'images/gmd-todo.webp' %}" alt="Todo" class="rounded-4 shadow-lg" width="360" height="239" >
        </div>
        <div class="col-lg-4">
          <img  src="{% static 'images/gmd-doing.webp' %}" alt="Doing" class="rounded-4 shadow-lg" width="360" height="239" >
        </div>
        <div class="col-lg-4">
          <img  src="{% static 'images/gmd-done.webp' %}" alt="Done" class="rounded-4 shadow-lg" width="360" height="239" >
        </div>
      </div>
      <div class="row mt-5 text-center">
        <div class="col-md-10 offset-md-1">
          <p class="h1 text-primary">Organize your work and life, become focused, organized, and calm with GetMoreDone App Today.</p>
          <p class="h3 mt-3 text-primary">Add your tasks. Organize your life. Achieve more every day.</p>
          <p class="h5 mt-3 text-primary">Reach that mental clarity you've been longing for.</p>

          <a class="btn btn-primary btn-lg mt-3 shadow" href={% url 'todolist' %}>Let's Get Started</a>
        </div>
      </div>
    </div>
{% endblock content %}